/* Container for Service Listings */
.service-listing-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-left: -2rem;
  margin-right: -2rem;
}

.listing1, .listing2, .listing3{
  flex: 1;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

/* Sevice Listing Styling */
.service-listing{
  background: #ffffff;
  padding: 2rem;
}

/* Service Listing Image Size */
.service-listing img{
  width: 100%;
}

/* Learn More Button Styling*/
.learn-more{
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}

.more-btn{
  padding: 1rem 1rem;
  margin-right: 0.5rem;
  border-radius: 10px;
  border: 2px solid #954749;
  background: #954749;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  transition: 0.3s;
}

.more-btn:hover{
  border: 2px solid #954749;
  background: #ffffff;
  color: #954749;
}

.more-btn:focus{
  border: 2px solid #3C3C3C;
  background: #F5F5F5;
  color: #3C3C3C;
}

.updates h2 {
  display: block;
  background: #ddd;
  text-align: center;
  margin-top: 0;
  padding: 2rem;
}

.content {
  min-width: 25%;
  padding: 2rem;
  margin: 0rem 4rem;
}

#about-seeda{
  margin-bottom: 4rem;
}

.grid {
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  width: 100%;
}

.grid-content {
  width: 50%;
  display: inline;
}

.grid-content p {
  margin: 0;
}

.grid-content img {
  width: 100%;
}

.grid-content.about-seerem-container{
  flex: 2;
}

.grid-content.image-container{
  flex: 1;
}

.seedaLogo {
  /*width: 30%*/
  flex: 1;
  padding-right: 4rem;
  margin-top: 1.5rem;
}

.seedaLogo img {
  /*max-width: 250px;*/
  width: 100%;
}

.seedaText {
  /*width: 70%;*/
  flex: 3;
  padding-left: 4rem;
}

.seedaText p {
  max-width: 90%;
}


/* 320PX TO 480PX */
@media screen and (min-width:20rem) and (max-width:30rem){
  .updates h2 {
    padding: 0.8rem;
    font-size: 0.85rem;
  }

  .content {
    margin: 0;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .grid {
    display: block;
  }

  .grid-content img, .grid-content p {
    padding: 0 2rem;
    width: 80%;
  }

  .grid-content img {
    width: 80%;
  }

  h3 {
    padding-left: 2rem;
    font-size: 1.5rem;
  }

  p {
    padding: 1rem 0;
    font-size: 0.9rem;
  }
}

/* 480PX TO 960PX */
@media screen and (min-width:30rem) and (max-width:60rem){
  .grid {
    display: block;
  }

  .content {
    padding: 2rem;
  }

  img {
    max-width: 100%;
  }

  p {
    padding: 0.8rem 0;
    font-size: 0.9rem;
    max-width: 100%;
  }

  .seedaLogo img {
    /*max-width: 250px;*/
    max-width: 35%;
    padding: 0;
  }

  .seedaLogo, div.seedaText {
    width: 100%
  }

  .container {
    padding: 0;
  }

  .container h3 {
    padding: 0;
  }
}
