/* Container for Service Listings */
.service-listing-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-left: -2rem;
  margin-right: -2rem;
}

.listing1, .listing2, .listing3{
  flex: 1;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

/* Sevice Listing Styling */
.service-listing{
  background: #ffffff;
  padding: 2rem;
}

/* Service Listing Image Size */
.service-listing img{
  width: 100%;
}

/* Update Banner Text */
.updates h2 {
  display: block;
  background: #ddd;
  text-align: center;
  margin-top: 0;
  padding: 2rem;
}

/* Styling for About SeeRem content */
#about-seerem div {
  display: inline;
}

#about-seerem p {
  margin: 0;
}

img {
  width: auto;
  /* max-width: 90%; */
}

/* shared with About Seeda content */
.image-container {
 display: inline;
}

#about-seerem .image-container {
  flex: 1;
}

.about-seerem-container {
  flex: 2;
  margin-right: 1rem;
}



/* Styling for About Seeda content */
#about-seeda .image-container {
 flex: 1;
}

.about-seeda-container {
  flex: 2;
}

.about-seeda-container p {
  max-width: 100%;
}

#about-seeda .image-container img {
max-width: 90%;
}

.seedaLogo {
  max-width: 250px;
}

/* 320PX TO 480PX */
@media screen and (min-width:20rem) and (max-width:30rem){
  .updates h2 {
    padding: 0.8rem;
    font-size: 0.85rem;
  }

  p {
    font-size: 0.9rem;
  }

  .main-header{
    padding: 3rem 2rem;
  }

  .main-header h1{
    font-size: 2rem;
  }

  .image-container {
    width: 100%;
    max-width: 100%;
  }
  img {
    width: 100%;
  }
}

/* 480PX TO 960PX */
@media screen and (min-width:30rem) and (max-width:60rem){
  img {
    max-width: 100%;
  }

  p {
    padding: 0.8rem 0;
    font-size: 0.9rem;
    max-width: 100%;
  }

  .container h3 {
    padding: 0;
  }

  .main-header{
    padding: 4rem 2rem;
  }
  .main-header h1{
    font-size: 2rem;
  }

  .about-seerem-container {
    flex: 1;
  }

  #about-seerem .image-container{
    flex: 1;
    margin-bottom: 0;
  }

  h2 {
    margin: 0.5rem;
  }

  /* Styling for About Seeda content */

  #about-seeda div{
    flex: 1;
  }
  #about-seeda .image-container {
   width: 100%;
  }

  .about-seeda-container {
    width: 100%;
  }
}

/*  480 TO 765 for About Seeda*/
@media screen and (min-width: 20rem) and (max-width:47.8rem){


  #about-seeda {
    display: block;
  }
  #about-seeda .image-container img {
    max-width: 100%;
  }
  .about-seeda-container {
    margin-top: 2rem;
  }
}

/* 1000PX for About Seerem */
@media screen and (max-width: 62.5rem){
  #about-seerem{
    display: block;
  }
  .about-seerem-container {
    margin-right: 2rem;
  }
  p {
    max-width: 100%;
  }

  #about-seerem .image-container{
    display: block;
  }

  h2 {
    /* margin: 0.5rem; */
  }
}
