/* Testing JavaScript functions */

#scrollUpbtn {
	/* display: none; */
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	padding: 0.7rem 1rem;
	margin-right: 0.5rem;
	border-radius: 10px;
	border: 2px solid #954749;
	background: #954749;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	transition: 0.3s;
}

#scrollUpbtn:hover {
	border: 2px solid #954749;
  background: #ffffff;
  color: #954749;
}

#scrollUpbtn:focus {
	border: 2px solid #3C3C3C;
  background: #F5F5F5;
  color: #3C3C3C;
}
