body{
	background: #F5F5F5;
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	margin: 0;
}

p{
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	line-height: 1.7rem;
	max-width: 80%;
}

h1{
	font-family: 'Work Sans', sans-serif;
	font-weight: 700;
	color: #AE3034;
	max-width: 60%;
}

h2, h3, h4{
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
	color: #AE3034;
}

a{
	text-decoration: none;
	transition: 0.5s;
	color: #954749;
}

img{
	width: 60%;
}

/* In-Text Links */
.intext-link{
	color: #954749;
}

a:hover, .intext-link:hover, .intext-link:focus{
	color: #3C3C3C;
}

/* Navigation Styling */
.main-nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: #ffffff;
	padding: 0.4rem 5rem;
}

/* Logo in Navigation */
.nav-logo img{
	width: 10rem;
}

.nav-logo{
	flex: 1;
	/*margin-left: -2.5rem;*/
}

/* Navigation Links */
.nav-link-section{
	flex: 3;
	text-align: right;
	padding-top: 1.1rem;
}

.nav-link{
	color: #AE3034;
	padding-bottom: 0.2rem;
	margin-right: 1.2rem;
}

.nav-link:hover, .nav-link:focus{
	color: #3C3C3C;
	border-bottom: 1px solid #3C3C3C;
}

header{
	background: #AE3034;
	margin-top: 0;
}

.main-header{
  padding: 9rem;
  text-align: center;
}

/* Header Styling */
.sub-header{
	margin-bottom: 1.5rem;
	padding: 6rem;
}

header h1{
	color: #ffffff;
	display: inline-block;
	padding-bottom: 0.5rem;
}

.main-header h1{
	border-bottom: 0.2rem solid #fff;
	font-size: 4rem;
}

.container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 1rem;
	padding: 2.5rem;
}


/* Footer Styling */
footer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: #3C3C3C;
	color: #F5F5F5;
	font-size: 0.8rem;
	padding: 1rem 5rem;
}

footer div{
	padding: 0rem 2rem;
}

footer h4{
	color: #ffffff;
	font-size: 0.9rem;
}

footer ul{
	list-style-type: none;
	margin-left: -2.5rem;
}

footer li{
	margin-top: 0.5rem;
}

.footer-services{
	flex: 1;
}

.footer-services a{
	color: #F5F5F5;
}

.footer-services a:hover{
	color: #AE3034;
}

.footer-contact{
	flex: 2;
}

.footer-social{
	display: inline;
	flex: 1;
}

.footer-social img{
	width: 12%;
	margin-right: 0.5rem;
}


/* 320PX TO 480PX */
@media screen and (min-width:20rem) and (max-width:30rem){
	body {
		/*margin: 0;
		padding: 0;*/
		font-size: 0.75rem;
	}

	.main-nav{
		padding: 0.4rem 4rem;
	}

	.nav-logo img{
		width: 6rem;
	}

	.nav-link-section{
		padding-top: 0.3rem;
	}

	.nav-link{
		margin-right: 0.1rem
		padding: 0;
		font-size: 0.6rem;
	}

	header {
		padding: 1rem;
	}

	footer{
		font-size: 0.82rem;
		padding: 0.5rem;
	}

	footer div{
		padding: 0rem 2rem;
	}

	footer h4{
		font-size: 0.9rem;
	}

	.footer-social img{
		width: 2rem;
		margin-right: 0.5rem;
		padding: 0.1rem;
	}

	.container{
		padding: 1rem;
	}
}

/* 480PX TO  960px */
@media screen and (min-width:30rem) and (max-width:60rem){
	header {
		padding: 1.5rem;
	}

	.nav-link{
		margin-right: 0.1rem
		font-size: 0.6rem;
	}

	.updates h2 {
		font-size: 1.2rem;
	}

	footer {
		padding: 1rem;
	}

	footer div{
		padding: 0rem 0.6rem;
	}

	footer h4{
		color: #ffffff;
		font-size: 0.7rem;
	}

	footer li{
		margin: 0.1rem;
	}

	.footer-social img{
		width: 2rem;
		margin-right: 0.5rem;
		padding: 0.1rem;
	}
}
