body{
	background: #F5F5F5;
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	/* ADDED FROM SERVICES.CSS*/
	margin: 0;
}

p{
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	line-height: 1.7rem;
	max-width: 80%;
}

h1{
	font-family: 'Work Sans', sans-serif;
	font-weight: 700;
	color: #AE3034;
	max-width: 60%;
}

h2, h3{
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
	color: #AE3034;
}

a{
	text-decoration: none;
	transition: 0.5s;
	color: #954749;
}

img{
	width: 60%;
}

/* Container For Page Layout*/
#container{
	display: flex;
	flex-direction: row;
}

#container .box1, #container .box2{
	padding: 2rem;
}

.box1{
	flex: 1;
}

.box2{
	flex: 2;
	margin-top: 3.2rem;
}

/* Page Lavigation Links*/
.page-nav{
	display: block;
	margin-bottom: 0.8rem;
	color: #954749;
}

.page-nav:hover, .page-nav:focus{
	color: #3C3C3C;
}

/* Page Subheadings*/
.subheading{
	padding-bottom: 0.8rem;
	border-bottom: 2px solid;
	margin-right: 40%;
}

section{
	padding-bottom: 1rem;
	margin-bottom: 1.6rem;
}

.element{
	border-bottom: 1px solid #bbb;
}

/* In-Text Links */
.intext-link{
	color: #954749;
}

a:hover, .intext-link:hover, .intext-link:focus{
	color: #3C3C3C;
}

/* Navigation Styling */
.main-nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: #ffffff;
	padding: 0.4rem 5rem;
}

/* Logo in Navigation */
.nav-logo img{
	width: 10rem;
}

.nav-logo{
	flex: 1;
	margin-left: -2.5rem;
}

/* Navigation Links */
.nav-link-section{
	flex: 3;
	text-align: right;
	padding-top: 1.1rem;
}

.nav-link{
	color: #AE3034;
	padding-bottom: 0.2rem;
	margin-right: 1.2rem;
}

.nav-link:hover, .nav-link:focus{
	color: #3C3C3C;
	border-bottom: 1px solid #3C3C3C;
}

/* Submit and More button Styling*/
.submit-btn, .more-btn{
	padding: 0.7rem 1rem;
	margin-right: 0.5rem;
	border-radius: 10px;
	border: 2px solid #954749;
	background: #954749;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	transition: 0.3s;
}

.submit-btn:hover, .checkout-btn:hover, .more-btn:hover{
	border: 2px solid #954749;
	background: #F5F5F5;
	color: #954749;
}

.submit-btn:focus, .checkout-btn:focus, .more-btn:focus{
	border: 2px solid #3C3C3C;
	background: #F5F5F5;
	color: #3C3C3C;
}

/* Reset Button Styling*/
.reset-btn{
	padding: 0.7rem 1rem;
	margin-right: 0.5rem;
	border-radius: 10px;
	border: 2px solid #3C3C3C;
	background: #3C3C3C;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	transition: 0.3s;
}

.reset-btn:hover{
	border: 2px solid #3C3C3C;
	background: #F5F5F5;
	color: #3C3C3C;
}

.reset-btn:focus{
	border: 2px solid #954749;
	background: #F5F5F5;
	color: #954749;
}

/* Form Label Styling */
.form-label{
	color: #3C3C3C;
}

/* Text Input Styling */
.text-input{
	padding: 0.5rem;
	margin-top: 0.5rem;
	margin-right: 2rem;
	margin-bottom: 1rem;
	border: 1px solid #3C3C3C;
	border-radius: 0.4rem;
	font-family: 'Open Sans', sans-serif;
	transition: 0.5s;
}

.text-input:hover{
	background: #ECDEDE;
}

.text-input:focus{
	border: 1px solid #AE3034;
	background: #F5F5F5;
}

/* Change Size of Text Input Field */
input[type = "text"], input[type="email"]{
    width: 11rem;
}

/* Radio Button Styling */
.radio-btn {
  	display: inline;
  	position: relative;
  	padding-left: 1.5rem;
  	margin-right: 2rem;
  	margin-bottom: 12px;
  	cursor: pointer;
}

.radio-btn.solo{
  	margin-right: 2.5rem;
}

/*Styling Radio Buttons: https://www.w3schools.com/howto/howto_css_custom_checkbox.asp*/
/* Hide the browser's default radio button */
.radio-btn input {
  	position: absolute;
  	opacity: 0;
  	cursor: pointer;
}

/* Custom radio button */
.radio-select {
  	position: absolute;
  	top: 0;
  	left: 0;
  	margin-top: 0.2rem;
  	height: 0.8rem;
 	width: 0.8rem;
  	background-color: #ffffff;
  	border: 1px solid #3C3C3C;
  	border-radius: 50%;
}

.radio-btn:hover input ~ .radio-select {
  	border: 1px solid #3C3C3C;
	background: #ECDEDE;
}

/* When the radio button is selected */
.radio-btn input:checked ~ .radio-select {
  border: 1px solid #AE3034;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-select:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-btn input:checked ~ .radio-select:after {
  display: block;
}

/* Style the indicator (dot/circle) of the radio button*/
.radio-btn .radio-select:after {
 	top: 0;
	left: 0;
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 50%;
	background: #954749;
}

/*image links*/
.img-link{
	width: 50%;
	border: 6px solid #F5F5F5;
	transition: 0.3s;
}

.img-link:hover, .img-link:focus{
	width: 50%;
	border: 6px solid #954749;
}

/*list styling*/
ol{
	color: #3C3C3C;
}

li{
	padding-left: 0.5rem;
	margin-bottom: 1rem;
}

/* Service Listing Container*/
.service-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 1rem;
	margin-right: 10rem;
	margin-bottom: 2rem;
}

/* Sevice Listing Styling */
.service-listing{
	background: #ffffff;
	padding: 3rem;
}

/* Service Listing Image Size */
.service-listing img{
	width: 100%;
}

/* Payment form styling */
.payment-form{
	background: #ffffff;
	padding: 2rem 4rem;
	margin-right: 10rem;
	margin-bottom: 2rem;
}

.form-section{
	margin-top: 0.5rem;
	display: inline-block;
}

.form-section p{
	margin-top: -0.3rem;
}

/* Checkout Button Styling*/
.confirm-checkout{
	margin-top: 1.5rem;
}

.checkout-btn{
	padding: 0.8rem 3rem;
	margin-right: 0.5rem;
	border-radius: 10px;
	border: 2px solid #954749;
	background: #954749;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	transition: 0.3s;
}

.checkout-btn:hover{
	border: 2px solid #954749;
	background: #ffffff;
	color: #954749;
}

.checkout-btn:focus{
	border: 2px solid #3C3C3C;
	background: #F5F5F5;
	color: #3C3C3C;
}

/* Cart Display Styling*/
.cart{
	background: white;
	padding: 2rem;
	margin-right: 10rem;
	margin-bottom: 2rem;
}

.grid {
    display: grid;
}

/* Grid Gutters for Checkout Cart Display */
.grid.gutters{
    grid-column-gap: 3rem;
}

/* Two Column Grid For Checkout Cart Display */
.grid.two-column{
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
    margin-left: 0;
    margin-right: 0;
}

/* Top Section of Cart Display for Items */
.cart-top{
    border-bottom: 1px solid #3C3C3C;
}

/* Bottom Section of Cart Display for Total Price */
.cart-bottom{
	margin-top: 1.2rem;
}

.cart-top h4{
	margin-top: 1.1rem;
	margin-left: 2rem;
}

.cart-bottom h4{
	margin-top: 1.1rem;
	margin-left: 2rem;
	color: #954749;
}

/* Image Gallery Styling */
.grid.row-gap{
    grid-row-gap: 1.5rem;
}

.grid.image-gallery{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
    margin-left: 0;
    margin-right: 0;
    margin-left: -2rem;
}

.grid.image-gallery img{
	width: 90%;
}












/* ADDED FROM SERVICES.CSS */

/* Navigation Styling */
.main-nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: #ffffff;
	padding: 0.4rem 5rem;
}

/* Logo in Navigation */
.nav-logo img{
	width: 10rem;
}

.nav-logo{
	flex: 1;
}

/* Navigation Links */
.nav-link-section{
	flex: 3;
	text-align: right;
	padding-top: 1.1rem;
}

.nav-link{
	color: #AE3034;
	padding-bottom: 0.2rem;
	margin-right: 2rem;
}

.nav-link:hover, .nav-link:focus{
	color: #3C3C3C;
	border-bottom: 1px solid #3C3C3C;
}

header{
	background: #AE3034;
	margin-top: 0;
	padding: 6rem;
	text-align: center;
}

header h1{
	color: #ffffff;
	display: inline-block;
	padding-bottom: 0.5rem;
	border-bottom: 0.2rem solid #fff;
}

/* Container for Service Listings (does not affect footer container)*/
.container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 1rem;
	padding: 2.5rem;
}

.listing1, .listing2, .listing3{
	flex: 1;
}

/* Service Listing Styling */
.service-listing{
	background: #ffffff;
	padding: 2rem;
}

/* Service Listing Image Size */
.service-listing img{
	width: 100%;
}

/* Learn More Button Styling*/
.more-btn{
	padding: 1rem 1rem;
	margin-right: 0.5rem;
	border-radius: 10px;
	border: 2px solid #954749;
	background: #954749;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	transition: 0.3s;
}

.more-btn:hover{
	border: 2px solid #954749;
	background: #ffffff;
	color: #954749;
}

.more-btn:focus{
	border: 2px solid #3C3C3C;
	background: #F5F5F5;
	color: #3C3C3C;
}






/* ADDED CSS FOR INDEX.HTML */

.updates h2 {
	display: block;
	background: #ddd;
	text-align: center;
	margin-top: 0;
	padding: 2rem;
}






/* content1 = about SeeRem
	 content2 = service Listings
	 content3 = contact
	 content4 = about Seeda
 */

.content1, .content2, .content3, .content4 {
	min-width: 25%;
	padding: 2rem;
	margin: 2rem;
	background-color: #fff;
}

/* adjusting Contact + About Seeda divs into a row */
.content3, .content4 {
	display: inline-block;
	flex: 1;
	width: 42%;
}

.content3 p,.content4 p{
	margin: 0;
	padding: 0;
}


/* Media Queries for Contact and About Seeda divs*/
@media screen and (max-width: 71rem){
	.content3, .content4 {
		width: auto;
		min-width: 25%;
		padding: 2rem;
		margin: 2rem
	}
}
@media screen and (min-width: 71rem){
	.content3, .content4 {
		width: 38.25%;
	}
}

@media screen and (min-width: 83rem){
	.content3, .content4 {
		width: 40%;
	}
}

@media screen and (min-width: 91rem){
	.content3, .content4 {
		width: 41%;
	}
}

@media screen and (min-width: 100rem){
	.content3, .content4 {
		width: 41.85%;
	}
}





/* FOOTER */
footer.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 1rem;
	padding: 0.5rem;
}

div.grid {
	display: flex;
	flex-direction: row;
	width: 100%;
}

div.grid-content {
	width: 50%;
	display: inline;
}

div.grid-content p {
	margin: 0;
}

div.grid-content img {
	width: 80%;
}

footer {
	background: #AE3034;
	margin-top: 0;
	text-align: center;
	color: #ffffff;
	font-size: 0.8rem;
}

footer div {
	width: 33%;
	display: inline;
	padding: 1rem 6rem;
	flex: 1;
}

footer a, footer p {
	display: block;
	max-width: 100%;
	color: #ffffff;
	text-align: center;
	line-height: 1rem;
	padding: 0.2rem;
	margin-block-start: 0;
  margin-block-end: 0;
}

footer p {
	color: #e0e0eb;
}

footer a {
	font-weight: 500;
}

footer a:hover {
	color: #000000;
}

/* div.footer-socials {
	display: inline;
} */

div.footer-socials a {
	display: inline;
}

img.sm-icon {
	max-width:22%;
}
