/* Moved the extra media queries here instead of deleting them for now. None of these are active because the file is not linked.*/



/* BELOW 560PX */


@media screen and (max-width:35rem){
	.main-nav{
		/* width: 100vw;
		display: inline-block;
		padding: 0;
		text-align: center; */
	}

	.nav-logo, .mobile-nav {
		display: inline-block;
	}

	.nav-logo {
		flex: 2;
		margin-right: 7rem;
	}

	.nav-link-section {
		display: block;
		padding-top: 0.3rem;
		font-size: 1rem;
	}

	.nav-link-section a {
		display: none;
		font-size: 1.2rem;
		padding: 0.5rem;
		border-top: 2px solid #ddd;
		text-align: center;
	}

	.nav-link-section a:hover{
		color: #ffffff;
		border-bottom: 1px solid #954749;
		border-top: 2px solid #954749;
		background: #954749;
	}

	.mobile-nav {
		flex: 1;
		right: 0;
		order: 3;
		font-size: 1rem;
	}

	.nav-link{
		margin-right: 0.1rem;
		padding: 0;
		font-size: 1.1rem;
	}
}

/* 480 to 560 */
@media screen and (min-width: 30rem) and (max-width:35rem){
	.main-nav{
		/* display: inline-block; */
		/* width: 100vw; */
		/* display: inline-block; */
		/* padding: 0; */
		/* text-align: center; */
	}

	.nav-logo {
		margin-right: 12rem;
	}

	.mobile-nav {
		order: 2;
	}
	.nav-link-section {
		order: 3;
	}

}

/* 560 to 900 */
@media screen and (min-width:35rem) and (max-width:60rem){
		.nav-link-section a {
			display: none;
		}

		/* .mobile-nav{
			display: none;
		} */
}
/* 680px to 900px */
@media screen and (min-width: 42.5rem) and (max-width: 56.25rem){

	.nav-link {
		padding-left: 2.5rem;
	}
	.nav-link-section {
		padding: 0;
		display: block;
	}
}

/* 900 to 1040 */
@media screen and (min-width: 56.25rem) and (max-width: 65rem){

	.mobile-nav {
		display: none;
	}
	.nav-link-section {
		padding: 1.1rem;
	}
}

/* 900 to 960 */
@media screen and (min-width:56.25rem) and (max-width:60rem){

	.nav-link-section{
		display: block;
		/* padding: 1.1rem; */
	}
	.nav-link-section a {
		display: inline;
	}
 .mobile-nav {
	 display: none;
 }
}
