/* Container For Page Layout*/
#container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#container .box1, #container .box2{
	padding: 2rem;
}

.box1{
	flex: 1;
	margin-left: 1rem;
}

.box2{
	flex: 2;
	margin-top: 3.2rem;
	margin-right: 1rem;
}

/* Page Lavigation Links*/
.page-nav{
	display: block;
	margin-bottom: 0.8rem;
	color: #954749;
}

.page-nav:hover, .page-nav:focus{
	color: #3C3C3C;
}

/* Page Subheadings*/
.subheading{
	padding-bottom: 0.8rem;
	border-bottom: 2px solid;
	margin-right: 40%;
}

section{
	padding-bottom: 1rem;
	margin-bottom: 1.6rem;
}

.element{
	border-bottom: 1px solid #bbb;
}

code{
	word-wrap: break-word;
}

/* Submit and More button Styling*/
.submit-btn, .more-btn{
	padding: 0.7rem 1rem;
	margin-right: 0.5rem;
	border-radius: 10px;
	border: 2px solid #954749;
	background: #954749;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	transition: 0.3s;
}

.submit-btn:hover, .more-btn:hover{
	border: 2px solid #954749;
	background: #F5F5F5;
	color: #954749;
}

.submit-btn:focus, .more-btn:focus{
	border: 2px solid #3C3C3C;
	background: #F5F5F5;
	color: #3C3C3C;
}

/* Reset Button Styling*/
.reset-btn{
	padding: 0.7rem 1rem;
	margin-right: 0.5rem;
	border-radius: 10px;
	border: 2px solid #3C3C3C;
	background: #3C3C3C;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	transition: 0.3s;
}

.reset-btn:hover{
	border: 2px solid #3C3C3C;
	background: #F5F5F5;
	color: #3C3C3C;
}

.reset-btn:focus{
	border: 2px solid #954749;
	background: #F5F5F5;
	color: #954749;
}

/*list styling*/
li{
	margin-top: 0.8rem;
}

/* Service Listing Container*/
.service-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 1rem;
	margin-right: 10rem;
	margin-bottom: 2rem;
}

/* Sevice Listing Styling */
.service-listing{
	background: #ffffff;
	padding: 3rem;
}

/* Service Listing Image Size */
.service-listing img{
	width: 100%;
}

/* Contact Sales Container Styling */
.contact-sales-container{
	flex: 1;
	padding: 2rem;
	margin-left: 0;
	margin-right: 10rem;
	margin-bottom: 3rem;
	background: #ffffff;
}

/* Contact Sales Subheading Styling */
.contact-sales-container h4{
	margin-left: 0.8rem;
}

.solo.form-section{
	margin-top: -1.5rem;
	margin-bottom: 0;
	margin-left: 0;
}

.form-section{
	margin-top: 0.5rem;
	display: inline-block;
	width: 40%;
	margin-bottom: -1.5rem;
	margin-right: 10%;
}

.form-section p{
	margin-top: -0.3rem;
}

/* Checkout Button Styling*/
/*.confirm-checkout{
	margin-top: 1.5rem;
}

.checkout-btn{
	padding: 0.8rem 3rem;
	margin-right: 0.5rem;
	border-radius: 10px;
	border: 2px solid #954749;
	background: #954749;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	transition: 0.3s;
}

.checkout-btn:hover{
	border: 2px solid #954749;
	background: #ffffff;
	color: #954749;
}

.checkout-btn:focus{
	border: 2px solid #3C3C3C;
	background: #F5F5F5;
	color: #3C3C3C;
}*/

/* Submit Button Styling*/
.contact-sales{
	margin-left: -1rem;
	margin-top: 1.5rem;
}

.action-btn{
	padding: 0.8rem 3rem;
	margin-right: 0.5rem;
	border-radius: 10px;
	border: 2px solid #954749;
	background: #954749;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	transition: 0.3s;
}

.action-btn:hover{
	border: 2px solid #954749;
	background: #ffffff;
	color: #954749;
}

.action-btn:focus{
	border: 2px solid #3C3C3C;
	background: #F5F5F5;
	color: #3C3C3C;
}

/*.grid {
    display: grid;
}*/

/* Styling for all Confirmation Containers */
.confirmation-container h4{
	margin-left:0.8rem;
	max-width: 100%;
}

.confirmation-container{
	margin-left: 0;
	margin-right: 10rem;
}

.confirmation-container {
  display: block;
}

/* Image Gallery Styling */
/*.grid.row-gap{
    grid-row-gap: 1.5rem;
}

.grid.image-gallery{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
    margin-left: 0;
    margin-right: 0;
    margin-left: -2rem;
}

.grid.image-gallery img{
	width: 90%;
}*/

.image-gallery{
    display: flex;
    flex-direction: column;
	flex-wrap: wrap;
}

figure{
	flex: 1;
	margin-top: 3rem;
	margin-left: 0;
}

figcaption{
	margin-top: 0.8rem;
}

.image-gallery img{
	width: 60%;
}

/* MEDIA QUERIES */
/* Screen size of 480px or less */
@media screen and (max-width:30rem){
body{background: pink;}
	#container{
		flex-direction: column;
	}

	.box1{
		margin-left: 1rem;
	}

	.box2{
		margin-top: -4rem;
		margin-left: 1rem;
	}

	.form-section{
		display: block;
	}

	.radio-btn {
	  	display: block;
	  	margin-top: 0.3rem;
	}
}

/* Screen size of  */
@media screen and (min-width:30rem) and (max-width: 48rem){
	body{background: red;}
	#container{
		flex-direction: column;
	}

	.box1{
		margin-left: 1rem;
	}

	.box2{
		margin-top: -3rem;
		margin-left: 1rem;
	}

	.form-section{
		display: block;
	}

	.radio-btn {
    	display: block;
	  	padding-left: 1.5rem;
	  	margin-top: 0.5rem;
	}
}

/* Screen size of  */
@media screen and (min-width:48rem) and (max-width: 60rem){
	body{background: blue;}
	#container{
		flex-direction: column;
	}

	.box1{
		margin-left: 1rem;
	}

	.box2{
		margin-top: -3.5rem;
		margin-left: 1rem;
	}

	.radio-btn {
    	display: block;
	  	padding-left: 1.5rem;
	  	margin-top: 0.5rem;
	}
}

/* Screen size of 960px - 1248px */
@media screen and (min-width: 60rem) and (max-width: 78rem){

	#container{
		flex-direction: column;
	}

	.box1{
		margin-left: 1rem;
	}

	.box2{
		margin-top: 0;
		margin-left: 1rem;
	}

	/* Page Lavigation Links*/
	.page-nav{
		display: inline-block;
		margin-right: 2.5rem;
		margin-bottom: 0.8rem;
		color: #954749;
	}

	.page-nav:hover, .page-nav:focus{
		color: #3C3C3C;
	}
}