/* Image Styling */
.image-container{
	flex: 1;
	order: 2;
	margin-top: 1.5rem;
	margin-right: 4.5rem;
}

.image-container img{
	width: 100%;
}

/* Subscription Plan Container */
.subscription-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 2.5rem;
	margin-left: 2rem;
	margin-right: 3.5rem;
}

/* Subscription Plan Options Styling */
.subscription-one, .subscription-two, .subscription-three{
	flex: 1;
	background: #ffffff;
	margin: 1rem 1rem;
	padding: 1.8rem 2.5rem;
}

/* Subscription Title Styling */
.subscription-container h3{
	text-align: center;
}

/* Line Styling */
hr{
	border-top: 2px solid #AE3034;
	margin: -0.5rem 3rem;
}

/* Subscription Price Styling */
.subscription-container h4{
	text-align: center;
	font-size: 2rem;
}

/* Subscription Detail Styling */
.subscription-container li{
	margin-top: 1rem;
}

.contact-sales-container{
	flex: 1;
	padding: 2rem;
	margin-left: 3rem;
	margin-right: 4.5rem;
	margin-bottom: 3rem;
	background: #ffffff;
}

.contact-sales-container h2{
	margin-left: 0.8rem;
}

.select-btn {
	width: 40%;
	margin-left: 30%;
}







@media screen and (min-width:20rem) and (max-width:30rem){
	.container, {
		padding: 0;
	}
	.contact-sales-container {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.subscription-container {
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

/* Decrease Text Input Box and set containers to display block */
@media screen and (max-width: 50rem){
	/* change size of text input field */
	input[type = "text"], input[type="email"]{
    	width: 12rem;
    }

    .container{
		display: block;
	}

	.image-container{
		margin: 0 auto;
		max-width: 80%;
	}

	.contact-sales-container{
		padding: 2rem;
		margin-left: 2rem;
		margin-bottom: 3rem;
		background: #ffffff;
	}
}

@media screen and (min-width:20rem) and (max-width:30rem){
	.subscription-container{
		padding: 0.5rem;
	}
}

/* Decrease Text Input Box to create columns in the form */
@media screen and (min-width: 56rem){
	/* change size of text input field */
	input[type = "text"], input[type="email"]{
    	width: 14rem;
    }
}

@media screen and (min-width: 68rem){
	/* change size of text input field */
	input[type = "text"], input[type="email"]{
    	width: 20rem;
    }
    .form-section{
		margin-right: 10%;
	}
}

/* on screens that are 78em or more, increase text input box size */
@media screen and (min-width: 78rem){
	/*change size of text input field */
	input[type = "text"], input[type="email"]{
    	width: 24rem;
	}
}

/* on screens that are 90em or more, increase text input box size */
@media screen and (min-width: 90rem){
	/*change size of text input field */
	input[type = "text"], input[type="email"]{
    	width: 28rem;
	}
}

/*on screens that are 108em or more, increase text input box size*/
@media screen and (min-width: 108rem){
	/* change size of text input field */
	input[type = "text"], input[type="email"]{
    	width: 35rem;
	}
}

/* Submit Button Styling*/
.contact-sales{
	margin-left: -1rem;
	margin-top: 3rem;
}

.action-btn{
	padding: 0.8rem 3rem;
	margin-right: 0.5rem;
	border-radius: 10px;
	border: 2px solid #954749;
	background: #954749;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	transition: 0.3s;
}

.action-btn:hover{
	border: 2px solid #954749;
	background: #ffffff;
	color: #954749;
}

.action-btn:focus{
	border: 2px solid #3C3C3C;
	background: #F5F5F5;
	color: #3C3C3C;
}
