/* Container for Subscription Listings */
/* .container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 2.5rem;
} */

/* Page Description Styling */
.page-description{
	flex: 2;
	order: 1;
	padding-right: 2rem;
	padding-left: 3.3rem;
}

/* Image Styling */
.image-container{
	flex: 1;
	order: 2;
	margin-top: 1.5rem;
	margin-right: 4.5rem;
}

.image-container img{
	width: 100%;
}

/* Subscription Plan Container */
.subscription-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 2.5rem;
	margin-left: 2rem;
	margin-right: 3.5rem;
}

/* Subscription Plan Options Styling */
.subscription-one, .subscription-two, .subscription-three{
	flex: 1;
	background: #ffffff;
	margin: 1rem 1rem;
	padding: 1.8rem 2.5rem;
}

/* Subscription Title Styling */
.subscription-container h3{
	text-align: center;
}

/* Line Styling */
hr{
	border-top: 2px solid #AE3034;
	margin: -0.5rem 3rem;
}

/* Subscription Price Styling */
.subscription-container h4{
	text-align: center;
	font-size: 2rem;
}

/* Subscription Detail Styling */
.subscription-container li{
	margin-top: 1rem;
}

.contact-sales-container{
	flex: 1;
	padding: 2rem;
	margin-left: 3rem;
	margin-right: 4.5rem;
	margin-bottom: 3rem;
	background: #ffffff;
}

.contact-sales-container h2{
	margin-left: 0.8rem;
}

/* Contact Sales Form styling */
.contact-form{
	background: #ffffff;
	margin-top: -1.5rem;
	padding-left: 2rem;
	padding-bottom: 1.2rem;
}

.form-section{
	padding-top: 2rem;
	margin-bottom: -2rem;
	margin-left: -1rem;
	margin-right: 5rem;
	display: inline-block;
}

/* Changing Form Label Colour*/
.form-label{
	color: #3C3C3C;
}

.form-section p{
	margin-top: 0.2rem;
}

/* Styling Radio Buttons*/
.radio-btn {
  	display: inline;
  	position: relative;
  	padding-left: 1.5rem;
  	margin-right: 3rem;
  	cursor: pointer;
}

/*Styling Radio Buttons: https://www.w3schools.com/howto/howto_css_custom_checkbox.asp*/
/* Hide the browser's default radio button */
.radio-btn input {
  	position: absolute;
  	opacity: 0;
  	cursor: pointer;
}

/* Custom radio button */
.radio-select {
  	position: absolute;
  	top: 0;
  	left: 0;
  	margin-top: 0.2rem;
  	height: 0.8rem;
 	width: 0.8rem;
  	background-color: #ffffff;
  	border: 1px solid #3C3C3C;
  	border-radius: 50%;
}

.radio-btn:hover input ~ .radio-select {
  	border: 1px solid #3C3C3C;
	background: #ECDEDE;
}

/* When the radio button is selected */
.radio-btn input:checked ~ .radio-select {
  border: 1px solid #AE3034;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-select:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-btn input:checked ~ .radio-select:after {
  display: block;
}

/* Style the indicator (dot/circle) of the radio button*/
.radio-btn .radio-select:after {
 	top: 0;
	left: 0;
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 50%;
	background: #954749;
}

/* Styling Text Input Box */
.text-input{
	padding: 0.5rem;
	margin-top: 0.5rem;
	margin-bottom: 0.7rem;
	border: 1px solid #3C3C3C;
	border-radius: 0.4rem;
	font-family: 'Open Sans', sans-serif;
	transition: 0.5s;
}

.text-input:hover{
	background: #ECDEDE;
}

.text-input:focus{
	border: 1px solid #AE3034;
	background: #F5F5F5;
}

/* Change Size of Text Input Field */
input[type = "text"], input[type="email"]{
    width: 20rem;
}


@media screen and (min-width:20rem) and (max-width:30rem){
	.container, {
		padding: 0;
	}
	.contact-sales-container {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.subscription-container {
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

/* Decrease Text Input Box and set containers to display block */
@media screen and (max-width: 50rem){
	/* change size of text input field */
	input[type = "text"], input[type="email"]{
    	width: 12rem;
    }

    .container{
		display: block;
	}

	.image-container{
		margin: 0 auto;
		max-width: 80%;
	}

	.contact-sales-container{
		padding: 2rem;
		margin-left: 2rem;
		margin-bottom: 3rem;
		background: #ffffff;
	}
}

@media screen and (min-width:20rem) and (max-width:30rem){
	.subscription-container{
		padding: 0.5rem;
	}
}

/* Decrease Text Input Box to create columns in the form */
@media screen and (min-width: 56rem){
	/* change size of text input field */
	input[type = "text"], input[type="email"]{
    	width: 14rem;
    }
}

@media screen and (min-width: 68rem){
	/* change size of text input field */
	input[type = "text"], input[type="email"]{
    	width: 20rem;
    }
    .form-section{
		margin-right: 10%;
	}
}

/* on screens that are 78em or more, increase text input box size */
@media screen and (min-width: 78rem){
	/*change size of text input field */
	input[type = "text"], input[type="email"]{
    	width: 24rem;
	}
}

/* on screens that are 90em or more, increase text input box size */
@media screen and (min-width: 90rem){
	/*change size of text input field */
	input[type = "text"], input[type="email"]{
    	width: 28rem;
	}
}

/*on screens that are 108em or more, increase text input box size*/
@media screen and (min-width: 108rem){
	/* change size of text input field */
	input[type = "text"], input[type="email"]{
    	width: 35rem;
	}
}

/* Submit Button Styling*/
.contact-sales{
	margin-left: -1rem;
	margin-top: 3rem;
}

.action-btn{
	padding: 0.8rem 3rem;
	margin-right: 0.5rem;
	border-radius: 10px;
	border: 2px solid #954749;
	background: #954749;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	transition: 0.3s;
}

.action-btn:hover{
	border: 2px solid #954749;
	background: #ffffff;
	color: #954749;
}

.action-btn:focus{
	border: 2px solid #3C3C3C;
	background: #F5F5F5;
	color: #3C3C3C;
}
